{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": ".",
    "sourceType": "module",
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "root": true,
  "env": {
    "node": true,
    "jest": true,
  },
  "ignorePatterns": [".eslintrc.js"],
  "rules": {
    "semi": [2, "always"],
    "eol-last": 2,
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/promise-function-async": "error",
    "@typescript-eslint/strict-boolean-expressions": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/restrict-template-expressions": 1,
    "@typescript-eslint/prefer-ts-expect-error": 0,
    "@typescript-eslint/consistent-type-definitions": 0,
    "@typescript-eslint/consistent-type-imports": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-unused-vars": 1,
    "@typescript-eslint/restrict-plus-operands": 1,
    "@typescript-eslint/array-type": 1,
    "@typescript-eslint/brace-style": 0,
    "@typescript-eslint/prefer-nullish-coalescing": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/import/first": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-explicit-any": 0,
  },
}
